*{
    margin: 0%;
    padding: 0%;
    /* overflow-x: hidden; */
}
body{
    /* overflow-x: hidden; */
    font-family: "Rubik", sans-serif;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    width: 100vmax;
    /* height: 110vmax; */
    background-color: #FDF2E9;
}
nav{
    display: flex;
    width: 100vmax;
    /* height: 6.5vmax; */
    align-items: center;
    justify-content: space-between;
}
nav ul{
    width: 100vmax;
    display: flex;
    /* flex-direction: column; */
    gap: 2.8vmax;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
nav ul li{
    display: inline-block;
    font-family: "Rubik", sans-serif;
    line-height: 1;
    list-style: none;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.2vmax;
    transition: all 0.3s;
    cursor: pointer;
}
nav ul li:hover{
    color: #e67e22;
}
button{
    cursor: pointer;
    transition: all 0.3s;
}
.orange button:hover{
    background-color: #CF711F;
}
.logo{
    font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 550;
  text-shadow: 1px 1px #333;
  text-align: center;
  width: 10.2vmax;
  font-size: 1.99vmax;
  font-style: normal;
  cursor: pointer;
  transition: all .6s ease-in-out;
}
.logo:hover{
    text-shadow: 50px 4.4vmax 4.8vmax #E67E22;
    width: 11.9vmax;
    font-size: 2.99vmax;

}
.navright{
    width: 55vmax;
    margin-right: 1%;
}
.orange button{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1.2vmax;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 4.8vmax;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
    z-index: 1;
    width: 9.2vmax;
    height: 2.7vmax;
    border: none;
    border-radius: .5vmax;
}
section{
    width: 100vmax;
}
.main{
    display: flex;
    /* flex-direction: column; */
    width: 100vmax;
    align-items: center;
    justify-content: space-around;
    gap: 1vmax;
    padding: 3.2vmax;
    flex-wrap: wrap;
}
.mainleft{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #333;
    width: 51vmax;
    gap: 1.5vmax;
}
.mainimg img{
    width: 38vmax;
}
.mainleft span:first-child{
    font-size: 3.9vmax;
    line-height: 1.05;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    width: 44vmax;
}
.mainleft span:nth-child(2){
    width: 39vmax;
    font-size: 1.4vmax;
    line-height: 1.60;
    font-family: "Rubik", sans-serif;
    color: #555;
}
.mainbutton{
    display: flex;
    gap: 1vmax;
    justify-content:space-evenly;
    align-items: center;
    width: 30vmax;
}
.mainbutton>.orange button{
    width: 15vmax;
    height: 3.4vmax;
    font-weight: 600;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.white button{
    background-color: #fff;
    color: #555;
    width: 15vmax;
    height: 3.4vmax;
    font-weight: 600;
    border-radius: 9px;
    font-size: 1.3vmax;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.white button:hover{
    color: whitesmoke;
    background-color: #555;
}
.lastyear{
    display: flex;
    /* flex-direction: column; */
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.textlastyear{
    display: flex;
    font-family: "Rubik", sans-serif;
    font-size: 1vmax;
    font-weight: 700;
}
.color{
    color: #cf711f;
}
.imgs{
    display: flex;
    gap: -1px;
    box-sizing: border-box;
    width: 21vmax;
    /* unicode-bidi: isolate; */
    /* visibility: collapse; */
}
.imgs li img{
    display: flex;
    gap: -100px;
    width: 3.3vmax;
    border: 1px solid white;
    border-radius: 455px;
}
.imgs li{
    list-style: none;
}
.sponser{
    display: flex;
    flex-direction: column;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 9.8vmax;
    padding: 4.8vmax 0 3.2vmax 0;
}
.sponser h3{
    font-family: "Rubik", sans-serif;
    font-size: 1.4vmax;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4vmax;
    color: #888;
}
.sponsers{
    display: flex;
    font-weight: 500;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 8%;
    margin-right: 8%;
}
.sponsers li{
    list-style: none;
}
.sponsers li img{
    color: #555;
    height: 2.2vmax;
    filter: brightness(0);
    opacity: 50%;
}
.box{
    display: flex;
    width: 100vmax;
    /* margin-left: 11%; */
    flex-direction: column;
    justify-content: space-between;
}
.and{
    font-size: 1.2vmax;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6vmax;
    letter-spacing: 0.75px;
    margin-left: 11%;
}
.box h1{
    margin-left: 11%;
    font-size: 3vmax;
    line-height: 1.2;
    margin-bottom: 9.6vmax;
}
.centrecontent{
    display: flex;
    width: 100vmax;
    justify-content: space-around;
}
.leftcentre{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: 3%;
}
.rightcentre img{
    width: 55%;
}
.rightcentre img:hover{
    animation: bounce .7s infinite alternate;
    cursor: pointer;
}
.number{
    width: 10%;
    font-size: 5.9vmax;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2vmax;
}
.number:hover{
    animation: spin 2s linear infinite;
}
.leftcentre h2{
    font-size: 2.1vmax;
    line-height: 1.2;
    margin-bottom: 3.2vmax;
    /* width: 54%; */
}
.leftcentre p{
    font-size: 1.1vmax;
    font-weight: 400;
    color: #555;
    line-height: 1.9;
    width: 88%;
}
.mobile{
    display: flex;
    flex-direction: column;
    gap: 6.2vmax;
    justify-content: space-around;
    align-items: center;
    width: 100vmax;
}
.meal{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    margin-left: 10%;
    margin-right: 10%;
}
.meal h1{
    font-size: 2.8vmax;
    color: #333;
    line-height: 1.2;
    margin-bottom: 9.6vmax;
    letter-spacing: -0.5px
}
.ok{
    font-size: 1.2vmax;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6vmax;
    letter-spacing: 0.75px;
}
.mealcentre{
    display: flex;
    width: 100vmax;
    padding: 2px;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2.4vmax 4.8vmax rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all .4s ease-in-out;
    line-height: 1;
    font-weight: 400;
    color: #555;
    width: 22vmax;
    height: 67vh;
    bottom: 1px;
    /* align-items: center; */
}
.card:hover{
    position: relative;
    bottom: 19px;
    box-shadow: 2px 2px 50px #CF711F;
}
.contentcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 40vh;
    margin-left: 7%;
}
.veg{
    background-color: #51cf66;
    display: inline-block;
    padding: 0.4vmax 0.8vmax;
    font-size: .7vmax;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
    width: 5vmax;
    margin-bottom: 8%;
}
.contentcard h3{
    font-size: 1.8vmax;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2vmax;
}
.list{
    font-size: 1.3vmax;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1.4vmax;
    margin-left: 9%;
}
.diet{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    font-weight: 400;
    color: #333;
    width: 22vmax;
    height: 67vh;
}
.diet li{
    transition: all 1s ease-in-out;
}
.diet li:hover{
    position: relative;
    bottom: 19px;
    text-shadow: 2px 2px 50px green;
}
.diet h2{
    font-size: 2vmax;
    line-height: 1.2;
    margin-bottom: 1.2vmax;
}
.diet li{
    margin-left: 8%;
    list-style: none;
    font-size: 110%;
}
.diet li::before{
    margin-right: 8px;
    content: "\2713";
    color: #CF711F;
    font-size: 120%;
    font-weight: 900;
}
.meal a{
    text-align: center;
    font-size: 1.4vmax;
    display: inline-block;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    margin-top: 4%;
    transition: all 0.3s;
}
.meal a:hover{
    text-decoration: none;
    font-size: 1.6vmax;
    text-shadow: 2px 2px 10px #555;
    color: whitesmoke;
}
.section3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FDF2E9;
    height: 140vh;
}
.right3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 1%;
    /* margin-top: 2%; */
    margin-right: 2%;

}
.right3 img{
    width: 14vmax;
    transition: all 1s ease-in-out;
}
.right3 img:hover{
    z-index: 100;
    filter: blur(10px);
}
.left3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
}
.review{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.reviewbox img{
    border-radius: 555px;
    width: 23%;
}
.reviewbox img:hover{
    animation: bounce .8s infinite alternate;

}
.reviewbox{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    width: 25vmax;
    justify-content: space-around;
    height: 30vh;
    font-size: 1.2vmax;
    line-height: 1.8;
    margin-bottom: 1.6vmax;
    color: #555;
}
.left3>h1{
    font-size:2.8vmax;
}
.section4{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.heading{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.heading h1{
    font-size: 2.5vmax;
    color: #333;
}
.twobox{
    display: flex;
    justify-content: center;
    gap: 3vmax;
}
.pricing{
    justify-content: space-around;
    align-items: center;
    width: 27vmax;
    border: .5px solid #e67e22;
    height: 78vh;
}
.pricing span:nth-child(2){
    font-size: 4vmax;
    font-weight: 600;
    color: black;
}
.lost li{
    list-style: none;
}
.lost li::before{
    margin-right: 8px;
    content: "\2713";
    color: #CF711F;
    font-size: 120%;
    font-weight: 900;
}

.pricing button{
    width: 15vmax;
    height: 7vh;
}
button{
    transition: all .4s ease-in-out;
    bottom: 1px;
}
button:hover{
    box-shadow: 2px 2px 20px #555;
    background-color: #333;
    position: relative;
    bottom: 9px;
}
.pricing1{
    background-color: #FDF2E9;
    position: relative;
}

.pricing1::after{
    content: "Best value";
    position: absolute;
    top: 9%;
    right: -31%;
    text-transform: uppercase;
    font-size: 1.4vmax;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8vmax 8vmax;
    transform: rotate(45deg);
}
.break{
    text-align: center;
    color: #555;
    margin: 5%;
}
.explain{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin: 5%;
    width: 100vmax;
    align-items: center;
}
.explainbox{
    display: flex;
    flex-direction: column;
    height: 23vmax;
    justify-content: space-around;
    /* width: 20vmax; */
}
.explainbox img{
    width: 5vmax;
}
.explainbox p{
    color: #555;
    font-size: 16px;
    width: 14vmax;
}
.inputbox{
    display: flex;
    justify-content: space-between;
    background-color: #E67E22;
    opacity: .94;
    line-height: 1;
    font-weight: 400;
    color: #333;
    width: 80vmax;
    margin: auto;
    height: 70vh;
    border-radius: 9px;
    box-shadow: 0px 2.4vmax 4.8vmax #555;
}
.inputleft{
    margin-left: 4%;
    /* width: 40vmax; */
}
.inputright{
    display: flex;
    justify-content: right;
/* border: 2px solid black; */
width: 57%;
}
.inputright img{
    height: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    height: 70vh;
}
.content h1{
    font-size: 2.8vmax;
}
.content>p{
    font-size: 1.1vmax;
    width: 39vmax;
    line-height: 1.2vmax;
    gap: 2px;
}
.gridbox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1vmax;
}
.pack{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 1vmax;
    /* column-gap: 10vmax; */
    font-size: 18px;
    border: none;
}
.pack input{
    border: none;
    height: 2.5vh;
    padding: 5%;
    font-size: 1.3vmax;
    background-color: #fdf2e9;
    border-radius: 9px;
    transition: all 1s ease-out;
}
.pack input:not(:hover){
    filter: blur(1.2px);
}
.pack button{
    width: 20vmax;
    background-color: #45260a;
    color: #fdf2e9;
    margin-top: 11%;
}

.pack button:hover{
    background-color: white;
    color: black;
}
.pack label select{
    width: 20vmax;
    border-radius: 9px;
    height: 3.2vmax;
    border: none;
    padding: 5%;
    font-size: 1.3vmax;
    background-color: #fdf2e9;
    color: #555;
}
.break1{
    border: 1px solid #dbd7d7;
    margin: 5%;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gridpack{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: .4vmax;
    width: 16vmax;
    height: 20vh;
    color: #555;
}
.heading{
    font-size: 1.3vmax;
    color: #333;
    font-weight: 600;
}
.plus{
margin-top: -8%;
}
.minus{
    margin-top: 1%;
}
@keyframes bounce {
    from{
        transform: translateY(0);
    }
    to{
transform: translateY(-80px);
    }
    
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
